@import url('https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css');
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  /* position: absolute; */
  z-index: 1;
}

/* #content {
  display: block
  position: relative;
  z-index: 2;
} */

.center {
  position: fixed;
  margin: auto;
  width: 50%;
  background-color: rgba(39, 39, 39, 0.905);
  border-radius: 10px;
  border: 2px solid aqua;
  padding: 10px;
  z-index: 100;
  bottom: 10px;
  left: 25%;
}

.topRight {
  position: fixed;
  margin: auto;
  width: 200px;
  background-color: rgba(39, 39, 39, 0.905);
  border-radius: 10px;
  border: 2px solid aqua;
  padding: 10px;
  z-index: 100;
  top: 10px;
  right: 10px;
}

#thefile {
  /* position: fixed; */
  top: 10px;
  left: 10px;
  width: 100%;
  z-index: 2;
}

#canvas2 {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}

#thefile{
  position: relative; 
  top: 0 ; 
  /* width: 75%;   */
  /* left: 10px;  */
  color: white;
  padding-bottom: 10px;
}

audio {
  /* position: fixed; */
  left: 10px;
  bottom: 10px;
  width: 100%;
}